/.ipynb_checkpoints
/.vscode
/1 The spelled-out intro to neural networks and backpropagation_ building micrograd.mp4
/2 The spelled-out intro to language modeling_ building makemore.mp4
/3 Building makemore Part 2_ MLP.mp4
/4 Building makemore Part 3_ Activations & Gradients, BatchNorm.mp4
/5 Building makemore Part 5_ Building a WaveNet.mp4
/6 Let's build GPT_ from scratch, in code, spelled out..mp4